body{
  background: darkslategrey;
}

#card{
  min-height: 500px!important;
  margin:130px auto;
}

#form{
  position: relative;
  top:150px;
}

input{
  max-width:50%;
  margin: auto;
}

button{
  position: relative;
  left:300px;
  top:50px;
}